.vscode/
.DS_Store

*.log

yarn.lock

node_modules
e2e-api-cucumber

errorShots
coverage

.idea/


test/report/cucumber_report.html
test/report/cucumber_report.json
fixtures/global/Sales/addItem.json